.header {
  color: $primary;
  // background-color: transparent;
  background: #000;
  background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 15px rgba(50, 50, 93, 0);
  // box-shadow: 0 1px 15px rgba(50, 50, 93, 0.2);
  // border-bottom: 1px solid $white-offset;
  padding: 10px 0px;
  transition: background .35s, box-shadow .35s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: 'Menlo', 'Consolas', 'Monaco', 'Courier New', monospace;
  &.header-scrolled{
    background: #ffffff;
    box-shadow: 0 1px 15px rgba(50, 50, 93, 0.2);

  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &.header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
  a {
    text-decoration: none;
  }
}
.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}
