.interactive-navigation {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: auto;
  transform: none;
  font-size: 10px;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
  @media(min-width: 768px) {
    font-size: 10px;
    width: 100px;
    top: 50%;
    right: 0;
    bottom: unset;
    left: unset;
    width: 100px;
    border-radius: 10px;
    transform: translateY(-50%);
  }
  ul{
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
    @media(min-width: 768px) {
      flex-direction: column;
    }
    li{
      margin: 0;
      width: 100%;
      a{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        width: 100%;
        height: auto;
        padding: 8px;
        background-color: transparent;
        transition: background-color 0.3s ease;
        text-decoration: none;
        color: #000000;
        font-weight: bold;
        transition: background-color 0.3s ease;
        &.active {
          background-color: #eee;
        }
        &::before{
          content: '';
          display: block;
          background-size: 24px 24px;
          background-repeat: no-repeat;
          background-position: center;
          width: 24px;
          height: 24px;
        }
        &[href="#home"]::before {
          background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"%3E%3Cpath fill="%23000000" d="M27 18.039L16 9.501 5 18.039V14.56l11-8.54 11 8.538v3.481zm-2.75-.31v8.251h-5.5v-5.5h-5.5v5.5h-5.5v-8.25L16 11.543l8.25 6.186z"/%3E%3C/svg%3E');
        }
        &[href="#experience"]::before {
          background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"%3E%3Cpath fill="%23000000" d="M30,30H22V4h8Z"/%3E%3Cpath fill="%23000000" d="M20,30H12V12h8Z"/%3E%3Cpath fill="%23000000" d="M10,30H2V18h8Z"/%3E%3C/svg%3E');
        }
        &[href="#services"]::before {
          background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"%3E%3Cpath fill="%23000000" d="M104.426,139.813l83.563,83.781c14.344-13.766,26.781-25.703,36.109-34.672l-84.297-84.5l-10.313-45.719L54.27,12.985L33.629,33.642L12.988,54.282l45.719,75.219L104.426,139.813zM358.363,276.298L481.926,399.47c22.781,22.766,22.781,59.688,0,82.469c-22.781,22.766-59.688,22.766-82.469,0L275.895,358.767L358.363,276.298zM459.957,203.407c42.547-38.609,49.656-82.484,40.141-119.484c-0.281-2.938-0.984-5.406-3.547-7.25l-8.563-7.016c-1.484-1.391-3.484-2.063-5.484-1.875c-2.016,0.203-3.844,1.234-5.031,2.875l-49.25,64.031c-1.375,1.891-3.594,2.969-5.922,2.891l-17.875,1.313c-1.531-0.047-3.016-0.594-4.219-1.563l-34.531-29.266c-1.406-1.141-2.328-2.766-2.563-4.563l-2.141-16.188c-0.25-1.781,0.203-3.594,1.266-5.063l46.109-62.641c2.094-2.875,1.688-6.859-0.906-9.281l-11.188-8.75c-2.188-2.031-4.672-1.75-8.063-1.094c-31.844,6.281-86.219,37.125-100.016,79.75c-12.156,37.516-7.922,63.969-7.922,63.969c0,21.141-6.953,41.516-15.5,50.063L24.504,424.923c-0.469,0.422-0.922,0.859-1.375,1.313c-19.844,19.844-19.813,52.047-0.641,71.219s51.859,19.672,71.703-0.172c0.922-0.922,1.813-1.875,2.641-2.859l231.672-250.438C357.004,218.61,413.426,245.642,459.957,203.407z"/%3E%3C/svg%3E');
          // background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"%3E%3Cpath fill="%23000000" d="M483.863,206.607c8.797-8.797,19.469-26.453,19.469-26.453c1.234-1.672,1.656-3.797,1.172-5.813l-2.406-9.844c-0.453-1.844-1.625-3.422-3.266-4.375c-1.641-0.969-3.594-1.219-5.422-0.703l-75.921,21.141c-2.813,0.781-5.828-0.266-7.547-2.641l-34.875-48.047c-1.063-1.453-1.516-3.281-1.281-5.063l7.031-51.047c0.375-2.766,2.359-5.047,5.063-5.797l80.187-22.313c3.641-1.016,5.813-4.734,4.922-8.422l-3.156-12.906c-0.453-1.813-1.594-3.375-3.203-4.344c0,0-6.281-4.156-10.859-6.531c-45.546-23.516-102.89-16.203-141.078,21.984c-28.219,28.219-39.266,66.859-34.094,103.547c3.984,28.203,2.125,43.203-10.047,56.078S12.333,444.232,12.333,444.232c-3.172,3.016-4.984,7.188-5.031,11.563c-0.063,4.375,1.656,8.594,4.766,11.688l39.75,39.75c3.109,3.109,7.313,4.828,11.688,4.766c4.375-0.047,8.547-1.859,11.578-5.016l253.141-259.219c0,0,19.422-16.672,41.594-9.109C408.379,251.826,452.941,237.545,483.863,206.607z"/%3E%3C/svg%3E');
        }
        &[href="#contact"]::before {
          background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="800" height="800"%3E%3Cg fill="none" stroke="%23212121" stroke-width="1.5"%3E%3Cpath d="M18 16c2.209 0 4-1.791 4-4s-1.791-4-4-4" stroke-linejoin="round"/%3E%3Cpath d="M6 8c-2.209 0-4 1.791-4 4s1.791 4 4 4" stroke-linejoin="round"/%3E%3Cpath d="M6 16v-8c0-3.314 2.686-6 6-6s6 2.686 6 6v8c0 3.314-2.686 6-6 6" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/g%3E%3C/svg%3E');
        }
      }
    }
  }
}